
<head>


</head>
<body>



<div id="Div_1" style="width: 300px;">
<table border="1" style= "width:300px;">
<div class="span4">
<tr><td>

      <!--Body content-->  
<%= simple_form_for :booking, :url => bookings_path,  :wrapper => :vertical_form do |f| %>
   <div class="row">
      <div class="col-xs-12 col-sm-offset-1 form-group"> 

      
        <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "ID", input_html: {class: "form-control", style:'height:30px; width:200px;'} %>

         <%= f.input :special, required: true, autofocus: true, label: false, placeholder: "Special", input_html: {class: "form-control", style:'height:30px; width:200px;'} %>

          <%= f.input :name, required: true, autofocus: true, label: false, placeholder: "Name", input_html: {class: "form-control", style:'height:30px; width:200px;'} %>

       <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "E-mail", input_html: {class: "form-control", style:'height:30px; width:200px;'} %>

       <%= f.input :date, required: true, autofocus: true, label: false, as: :date, html5: true, input_html: {style:'height:30px; width:200px;'} %>

       </div>


    <div class="row">
      <div class="col-xs-5 col-sm-offset-2 form-group">

    <%= f.button :submit, "Submit", class: "btn btn-primary btn-block" %>
  </div>
  </div>
</td></tr>


  <% end %>
   
  </div>
</div>
</table>
</div>
