
| <%= link_to 'Back', resumes_path %> |


<div class="container">
    <div class="row no-gutter">
        <div class="col-xs-4 col-xs-offset-0">
            <div class="col-xs-12">


            <table border="0" style="width:100%">
    
<tr>
<TD width="300" height="120"><p><%= image_tag(raw success) %></p></TD>
</tr>
<tr>
<TD width="300" height="120"><p><%= raw success_description %></p></TD>
<tr>
</table></div>
         
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="col-xs-12"><div class="row" style="width:500px">

            <table border="0" style="width:100%">
            
<tr>
<TD width="300" height="120"><p><%= raw success_title%></p></TD>
</tr>
<tr>
<TD width="300" height="120"><p><%= raw success_date %></p></TD>
<tr>
</table></div>
