

<html>
<head>
    <title>jQuery show</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>
    <script type="text/javascript">
        function Show_Div(Div_id) {
            if (false == $(Div_id).is(':visible')) {
                $(Div_id).show(100);
            }
            else {
            $(Div_id).hide(100);

            }
        }

        function insertText(elemID, text)
      {
        var elem = document.getElementById(elemID);
        elem.innerHTML += text;
      }
    </script>



<div class="container-fluid" style="width:100%" border="0">
  <div class="row-fluid">


<table border="0" style="width:100%">
<tr>
<TD width="500" height="100"></TD>
<TD width="500" height="100"></TD>
</tr>
</table>


<table border="0" style="width:100%">
<tr>
<TD width="300px" height="500px" valign="top"><h1>Specials:</h1><i class= "fa fa-chevron-circle-right fa-3x" onclick="Show_Div(Div_1)"></i></TD>



<TD width="500" height="500" valign="top" offset="1">
   <div offset="1" id="Div_1" style="display: none; background-color: #E6E6E6; width: 300px;">

<%= bootstrap_form_for (@starter) do |f| %>
<%= f.static_control :title, label: "Restuarant:" do %>
<h2><b><%= current_user.title %></b></h2>
<% end %>

  <%= f.select :special, [["Starter"], ["Wine"], ["Couples"], ["Dessert"]], { label: "Your Choice..." }, { class: "selectpicker" }  %>

  <%= f.date_field :date %>

  <%= f.submit "Submit", class: "btn btn-primary" %>


<% end %>
  

</div>

</TD>
</tr>
</table>


</div>
</div>

</body>
</html>

