

<html>
<head>
    <title>jQuery show</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>
    <script type="text/javascript">
        function Show_Div(Div_id) {
            if (false == $(Div_id).is(':visible')) {
                $(Div_id).show(100);
            }
            else {
            $(Div_id).hide(100);

            }
        }

        function insertText(elemID, text)
      {
        var elem = document.getElementById(elemID);
        elem.innerHTML += text;
      }
    </script>



<div class="container-fluid" style="width:100%;" border="1">
  <div class="row-fluid">








    <div class="span3">

<table border="0"><br>
<tr><TD width="10%" height="100"></TD></tr>
<tr><TD width="10%" height="60"><h1>Specials</h1></TD></tr>
<tr>

<TD width="10%" height="50" class="pull-center"><i class= "fa fa-chevron-circle-right fa-3x" onclick="Show_Div(Div_1)"></i></TD>
</tr>


</table>
</div>



<div class="span4 offset1">

<table border="0">
  <div class="row">
      <div class="col-xs-8 col-sm-offset-0 form-group"> 

  <tr>
  <td width="300px" height="100"></td>
  </tr>
  </div></div>
  
</table>

</div>


 
 <div class="span4 offset1">
 
 <div id="Div_1" style="display: none; background-color: #E6E6E6; width: 300px;">
<table border="0">
<tr>

<%= bootstrap_form_for (@starter) do |f| %>
<%= f.static_control :title, label: "Restuarant:" do %>
<h2><b><%= current_user.title %></b></h2>
<% end %>

  <%= f.select :special, [["Starter"], ["Wine"], ["Couples"], ["Dessert"]], { label: "Your Choice..." }, { class: "selectpicker" }  %>

  <%= f.date_field :date %>

  <%= f.submit "Submit", class: "btn btn-primary" %>


<% end %>
  
</tr>
</div>
  </table>
 
    </div>
 </div>

</body>
</html>

